<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    	<link rel="stylesheet" href="{{ asset('bundles/apexscore/css/jquery.mobile-1.3.0.min.css') }}" />
<!--	<script src="{{ asset('bundles/apexscore/js/jquery-1.8.2.min.js') }}"></script> -->

	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>

	<script src="{{ asset('bundles/apexscore/js/jquery.mobile-1.3.0.min.js') }}"></script>

<!--	<script src="http://code.jquery.com/mobile/latest/jquery.mobile.js"></script> -->

    <script src="{{ asset('bundles/apexscore/js/knockout-2.2.1.js') }}"></script>




	
    <link href="{{ asset('bundles/apexscore/css/mobiscroll-2.4.1.custom.min.css') }}" rel="stylesheet" type="text/css" />

	<script src="{{ asset('bundles/apexscore/js/mobiscroll-2.4.1.custom.min.js') }}"></script> 


<!--	<script src="{{ asset('bundles/apexscore/js/iscroll.js') }}"> </script> -->
<!--	<script src="{{ asset('bundles/apexscore/js/jquery.mobile.iscrollview.js') }}"> </script>  -->
	
	
	<script src="{{ asset('bundles/apexscore/js/moment.min.js') }}"> </script>
	
	<script type="text/javascript">
		$.mobile.changePage.defaults.allowSamePageTransition = true;
        $.mobile.ignoreContentEnabled = true;
         $.mobile.defaultHomeScroll = 0;
	</script>

	<link rel="stylesheet" href="{{ asset('bundles/apexscore/css/styles.css') }}" type="text/css" media="screen" rel="stylesheet" />
	
<!--    <script src="{{ path('GlobalJs') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/apexscore/js/app.js') }}"></script> -->



	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=0.5, user-scalable=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />  

</head>
<body>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<script src="{{ path('GlobalJs') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/apexscore/js/app.js') }}"></script>

                
<div id="f_page" data-role="page" data-title="Rounds">
	
	<div id="header" data-role="header" data-theme="b" data-position="fixed">
		<a href="#" data-role="button" data-icon="gear" data-iconpos="notext" id="prefsButton" data-bind="click: loadPrefs"></a>
		<div id="headerText">Rounds for <span data-bind="text: playerName"></span></div>
		<a href="#courseSelect"  data-role="button" data-icon="plus" id="newRoundButton" data-iconpos="notext"></a>
	</div>
	
	<!-- data-rel="dialog" -->
		
		<script type="text/javascript">
		moment.lang('en', {
			longDateFormat : {
				LT: "HH:mm",
				L: "MM/DD/YYYY",
				l: "M/D/YYYY",
				LL: "MMMM Do YYYY",
				ll: "MMM D YYYY",
				LLL: "MMMM Do YYYY LT",
				lll: "MMM D YYYY LT",
				LLLL: "dddd, MMMM Do YYYY LT",
				llll: "ddd, MMM D YYYY LT"
			}
		});

		</script>
		
	<div id="f_roundList">
		<ul id="roundList" data-role="listview" data-theme="d" data-bind="mobileList: roundList, foreach: roundList"> 
			<li><a href="#" data-bind="click: $root.loadRound.bind($data, id)"><span data-bind="text: course_name"></span><span style="font-size: 66%">   
				<div><span style="color: #999" data-bind="text: moment(start_time.date).calendar()"></div></a>
			</li>
		</ul>  
	</div>
</div>
	
	

<div id="s_page" data-role="page" data-title="Round in progress" data-theme="b">

	<div id="header" data-role="header" data-theme="b" data-position="fixed">
		<a href="#f_page" data-role="button" data-icon="home" data-iconpos="notext" 		 data-bind="click: leaveRound"></a>
		<div id="headerText">Hole <span data-bind="text: currentHole"></span> - Par <span data-bind="text: currentHolePar"></span>
			<span style="font-size: 75%">/ Hcp  <span data-bind="text: currentHoleHcp" ></span></span>
		</div>

		<a data-bind="click: showScoreCard" data-role="button" data-rel="dialog" data-icon="grid" data-iconpos="notext" data-close-btn="none" data-transition="slidedown"></a>
	</div>

	<div id="top" data-role="content" data-theme="b">
		<div id="scoreWrappi" class="ui-grid-b">
			<div id="holeScore" class="ui-block-a">
				<span data-bind="text: holeScoreName, visible: showPoints"></span><br>
				<span data-bind="text: currentHolePoints, visible: showPoints" style="font-size: 75%"></span>
			</div>
	
			<div id="scoreB" class="ui-block-b">
				<div id="scoreC">
					<div id="il"></div>
					<div id="score">
						<div id="scoreDisplay" data-bind="visible:  noScoreEntered">-</div>
						<div id="scoreDisplay" data-bind="visible: noScoreEntered() == false, text: currentHoleScore"></div>
					</div>
					<div id="ir"></div>
				</div>
			</div>
	
			<div id="roundScore" class="ui-block-c">
				Score: <span data-bind="text: totalScore"></span><br>
				<span style="font-size: 75%"> Points:</span>
	<!--			<span data-bind="text: totalPoints" style="font-size: 75%"> -->
				<span data-bind="text: totalPoints" style="font-size: 75%"> 
				</span>
			</div>
			
		</div>


		<div id="sliderWrappi" class="ui-grid-b">
			<div id="leftFill" class="ui-block-a"></div>
				<div id="sliderW" class="ui-block-b">
					<div id="slideri">
						<input type="range" data-bind="value: sliderVal, slider: sliderVal,  event: { change: sliderMove, slidestop: resetSlider }" name="scoreSlider" id="scoreSlider" min="-100" max="100" /> 
					</div>
				</div>
			<div id="rightFill" class="ui-block-c"></div>
		</div>
	</div>

<!-- <div style="color: white; text-shadow: 0 0 0 #000, 0 0 0 #000" data-bind="text: ko.toJSON($data)"></div>   -->


	<div id="holeData" >
		<div  class="ui-grid-a" data-role="content" data-theme="c">
			<div id="1" class="ui-block-a">
				<span id="course" data-bind="text: courseName"></span><br>
				Hole <span id="hole" data-bind="text: currentHole"></span><br>
				Par <span id="par" data-bind="text: currentHolePar"></span><br>
				Hcp <span id="hcp" data-bind="text: currentHoleHcp"></span><br>
				<span id="length" data-bind="text: currentHoleLength"></span> meters<br>
			</div>
			<div id="2" class="ui-block-b">
				Player: <span id="player" data-bind="text: playerName"></span><br>
				Handicap: <span id="playerhcp" data-bind="text: round_hcp"></span><br>
				Course handicap: <span id="playerplayhcp" data-bind="text: playerPlayingHcp"></span><br>
			</div>
		</div>
	</div>


	<div id="footer" data-role="footer" data-theme="a" data-position="fixed">
		<span style="float: left""><a href="#s_page" data-role="button" data-icon="arrow-l"  data-transition="slidefade" data-direction="reverse" data-bind="click: previousHole" data-iconpos="notext"></a></span>


		<span style="float: right"><a data-role="button" data-icon="arrow-r" data-bind="click: nextHole"  data-iconpos="notext"></a>
		</span>	
		
	</div>

</div>	
	
	
<div id="scoreCard" data-role="page" data-close-btn="none" data-theme="c">

	<div data-theme="c" data-role="header" id="dialogHeader">
			<span id="scCourse" data-bind="text: courseName"></span>&nbsp;
			<span id="scPlayer" data-bind="text: playerName"></span>&nbsp;
<!--			<span id="scPlayerHcp" data-bind="text: playerExactHcp"></span> -->
			<span id="scStartTime" data-bind="text: roundStartTime"></span>
	</div>

	<div data-role="content" id="dialogContent">
		<div id="dialogCenter">
			<table id="scoreCardTable">
				<tr>
					<td id="scHeaders">Hole</td>
					<td id="scHeaders">Par</td>
					<td id="scHeaders">HCP</td>
					<td id="scHeaders">Length</td>
					<td id="scHeaders">Score</td>
					<td id="scHeaders">To Par</td>
					<td id="scHeaders">Points</td>
				</tr>
				<tbody data-bind="foreach: scoreCard">
					<tr>
						<td id="scCells" data-bind="text: hole_number"></td>
						<td id="scCells" data-bind="text: hole_par"></td>
						<td id="scCells" data-bind="text: hole_hcp"></td>
						<td id="scCells"><span data-bind="text: hole_length"></span> m
						</td>
					
						<!-- ko if: score() > 0 -->
							<!-- ko if: scoreToPar < 0 -->
							<td id="scScoreCells" data-bind="text: score" style="background: #C2F0C2"></td>
							<!-- /ko -->
							<!-- ko if: scoreToPar > 0 -->
								<td id="scScoreCells" data-bind="text: score" style="background: #CEE0CE"></td>
							<!-- /ko -->
							<!-- ko if: scoreToPar == 0 -->
								<td id="scScoreCells" data-bind="text: score"></td>
							<!-- /ko -->
							<!-- ko if: scoreToPar > 0 -->
								<td id="scCells" style="background: #CEE0CE">+<span data-bind="text: scoreToPar"></span></td>
							<!-- /ko -->
							<!-- ko if: scoreToPar < 0 -->
								<td id="scCells" style="background: #C2F0C2"><span data-bind="text: scoreToPar"></span></td>
							<!-- /ko -->
							<!-- ko if: scoreToPar == 0 -->
								<td id="scCells"><span>E</span></td>
							<!-- /ko -->
						
							<td id="scCells" data-bind="text: points"></td>
					
						<!-- /ko -->
					
						<!-- ko if: score() == 0 -->
							<td id="scScoreCells">&nbsp;</td>
							<td id="scCells">&nbsp;</td>
							<td id="scCells">&nbsp;</td>
						<!-- /ko -->
					</tr>
				</tbody>
					<tr>
						<td id="scTotals"></td>
						<td id="scTotals" data-bind="text: coursePar"></td>
						<td id="scTotals"></td>
						<td id="scTotals"><span data-bind="text: courseLength"></span> m</td>

						<!-- ko if: totalToPar() < 0 -->
							<td id="scTotals" data-bind="text: totalScore" style="background: #C2F0C2"></td>
						<!-- /ko -->
						<!-- ko if: totalToPar() >= 0 -->	
							<td id="scTotals" data-bind="text: totalScore"></td>
						<!-- /ko -->				
						<!-- ko if: totalToPar() > 0 -->
							<td id="scTotals">+<span data-bind="text: totalToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: totalToPar() < 0 -->
							<td id="scTotals" style="background-color: #C2F0C2"><span data-bind="text: totalToPar" ></span></td>
						<!-- /ko -->
						<!-- ko if: totalToPar() == 0 -->
							<td id="scTotals"><span>E</span></td>
						<!-- /ko -->
					
						<td id="scTotals" data-bind="text: scoreCardTotalPoints"></td> 
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div id="scoreCardButtons">
		<a href="#" data-role="button" id="scoreCardShare" data-mini="true" >Share</a>
		<a href="#s_page" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-mini="true"  id="scoreCardClose">Close</a>
	</div>

</div>


<div id="prefs" data-role="page" data-title="Preferences" data-theme="b">
	<div id="header" data-role="header" data-theme="b" data-position="fixed">
			<a href="#" data-role="Home" data-bind="click: saveGolfer" data-icon="home" data-iconpos="notext"></a>

		<div id="headerText">Preferences</div>
	</div>

	<div id="prefsWrappi">
	
		<div id="mainPrefs">
			<h5>Handicap</h5>
			<div id="prefsPlayerHcp" data-enhance="false"> 
				<input id="i" style="display: none"
				data-bind="value: playerExactHcp" />
			</div>
			
<!--				<div style="color: white; text-shadow: 0 0 0 #000, 0 0 0 #000" data-bind="text: ko.toJSON($data)"></div> -->
			
			<div id="tees">
				<h5>Tee</h5>

				<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal" data-theme="e">
					<input type="radio" name="red" id="tees_red" value="red" data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_red" style="border-color: red" id="prefsTees">Red</label>

					<input type="radio" name="blue" id="tees_blue" value="blue" data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_blue" style="border-color: blue" id="prefsTees">Blue</label>

					<input type="radio" name="yellow" id="tees_yellow" value="yellow"  data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_yellow" style="border-color: yellow" id="prefsTees">Yellow</label>

					<input type="radio" name="white" id="tees_white" value="white" data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_white" style="border-color: white" id="prefsTees">White</label>
				</fieldset>
			</div>
<!--			
			<div id="gender">
				<label for="gender">
					<h5>Gender</h5>
				</label>
				<select name="gender" id="gender" data-role="slider" data-theme="b" data-track-theme="c" data-bind="jqmOptions: playerGenders, value: playerGender" data-mini="true">
					<option>Male</option>
					<option>Female</option>
				</select> 
			</div>
			
			<span style="font-size: 6px" data-bind="text: playerGender"></span> -->
			
		</div> 
	</div>
</div>


<div id="courseSelect" data-role="page" data-title="New round" data-theme="b">
	<div id="header" data-role="header" data-theme="b" data-position="fixed">
		<a href="#f_page" data-role="button" id="Home" data-icon="home" data-iconpos="notext"></a>
		<div id="headerText">Choose course</div>
	</div>
	<div id="courseListWrap">
		<ul data-theme="d" data-role="listview" data-filter="true" data-filter-placeholder="Course name or abbreviation..." data-filter-theme="a" id="courseList" data-bind="mobileList: courseList, foreach: courseList">
			<li data-bind="attr: { 'data-filtertext': alias +' '+ name}">
				<a href="#" data-bind="click: $root.startNewRound.bind($data, id, name), text: name"></a>
			</li>
		</ul>
	</div>
</div>		

{% else %}
<div data-theme="b" data-role="page">

              <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
              
              

{% endif %}
	

</body>
</html>