<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
<!--   	<link rel="stylesheet" href="{{ asset('bundles/apexscore/css/jquery.mobile-1.3.0.min.css') }}" /> -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
  	<link rel="stylesheet" href="{{ asset('bundles/apexscore/css/styles.css') }}" type="text/css" media="screen" rel="stylesheet" />
    <link href="{{ asset('bundles/apexscore/css/mobiscroll.custom-2.5.2.min.css') }}" rel="stylesheet" type="text/css" />

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    
	<link rel="stylesheet" href="{{ asset('bundles/apexscore/css/add2home.css') }}">

	<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
	
<!--	{% if app.user.username == "kuikka" %}
	
		<link rel="stylesheet" href="{{ asset('bundles/apexscore/css/villespecial.css') }}">

	{% endif %}		-->
	
	
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
	
	<script src="{{ path('GlobalJs') }}" type="text/javascript"></script>

	{% javascripts
		'@ApexScoreBundle/Resources/public/js/date.format.js'
		'@ApexScoreBundle/Resources/public/js/mobiscroll.custom-2.5.2.min.js'
		'@ApexScoreBundle/Resources/public/js/moment.min.js'
		'@ApexScoreBundle/Resources/public/js/lang/fi.js'
		'@ApexScoreBundle/Resources/public/js/moment.min.js'
		'@ApexScoreBundle/Resources/public/js/jquery.transit.min.js'
		'@ApexScoreBundle/Resources/public/js/app.js'
		'@ApexScoreBundle/Resources/public/js/add2home.js'
	%}
	<script src="{{ asset_url }}"></script>

	{% endjavascripts %}
	
<!--    <script src="{{ asset('bundles/apexscore/js/date.format.js') }}"></script> 
	<script src="{{ asset('bundles/apexscore/js/mobiscroll.custom-2.5.2.min.js') }}"></script> 
	<script src="{{ asset('bundles/apexscore/js/moment.min.js') }}"> </script>
	<script src="{{ asset('bundles/apexscore/js/lang/fi.js') }}"> </script>

	<script src="{{ asset('bundles/apexscore/js/jquery.transit.min.js') }}"></script>
	<script src="{{ asset('bundles/apexscore/js/app.js') }}"></script>
	<script type="application/javascript" src="{{ asset('bundles/apexscore/js/add2home.js') }}"></script> -->
	
	

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=0.5, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />  
	
	<meta name="apple-mobile-web-app-title" content="Bogikortti" >

	<script type="text/javascript">
		$.mobile.changePage.defaults.allowSamePageTransition = true;
		$.mobile.loader.prototype.options.theme = "d";
		$.mobile.loader.prototype.options.textVisible = true;
	</script>

</head>

<body>

<div id="f_page" data-role="page" data-title="Bogikortti" >
	<div class="header" data-role="header" data-theme="b" data-position="fixed" data-id="bogi_header">
		<a href="#" id="txt-only" data-role="button" data-icon="gear" data-iconpos="notext" data-bind="event: { tap: loadPrefs }"></a>
		<div class="headerText" id="f_header">Bogikortti - <span data-bind="text: playerName"></span></div>
		<a href="#" data-bind="event: { tap: loadCourseSelect }"  data-role="button" data-icon="plus" id="newRoundButton" data-iconpos="notext"></a>
	</div>
	
	<div class="scrollOuter" data-theme="b">	

	<!-- ko if: firstRun() == "working" -->
		<div data-theme="c" data-role="content">
			Ladataan kierroksia...
		</div>
	<!-- /ko -->		
	
	<!-- ko if: firstRun() == false -->
		<div class="scrollMiddle">
			<div class="scrollInner" id="roundListWrap">
				<ul id="roundList" data-role="listview" data-theme="c" data-split-icon="delete" data-split-theme="c" data-bind="mobileList: roundList, foreach: roundList"  class="round"> 
				
					<li data-bind="css: { highlightLoaded: $root.highlightLoaded(start_time.date), highlightDeleted: $root.highlightDeleted(start_time.date) }">
				 
						<a data-bind="click: $root.loadRound.bind($data, id, start_time.date)">
						<span data-bind="text: course_name"></span>
						<span style="font-size: 66%">
							<span data-bind="text: start_time.date" style="visibility: hidden"></span>   
							<div style="color: #999">
								<span data-bind="text: moment(start_time.date).calendar()">						</span> - Tulos:
								<span data-bind="text: score"></span> / <span data-bind="text: par"> </span>
							</div>
						</span>
						<span>
							<a data-bind="event: { tap: $root.deleteRoundDialog.bind($data, id, start_time.date) }" data-icon="minus" id="roundMenu"></a>
						</span>
					</li>
				</ul>
			</div>
		</div>
	<!-- /ko -->
	

		<div data-role="popup" id="delPopUp" data-over-theme="a" data-theme="c" data-dismissible="false" style="max-width: 250px; font-size: 75%" class="ui-corner-all" data-mini="true" id="deletiongPopup">
			<div data-role="header" data-theme="a" class="ui-corner-top" style="text-align: center; padding: 6px">
					<span style="font-size: 1.5em; font-weight: bold">Poistetaanko kierros?</span>
			</div>
			<div data-role="content" data-mini="true" data-theme="d" class="ui-corner-bottom ui-content" id="deletionContent">
	<!--				  <h5 class="ui-title">Remove this round?</h5> -->
			  <p style="font-weight: bold">Kierros poistetaan lopullisesti.</p>
				<a data-bind="event: { tap: cancelRoundDelete }" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-mini="true">Peru</a>
				<a href="" data-bind="event: { tap: deleteRound }" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b" data-mini="true">Poista kierros</a>
			</div>
		</div>
	
	<!-- ko if: firstRun() == true -->
		<div data-theme="b" data-role="content">
			<div style="width: 100%; margin-left: 10px; float:left">
				<img src="{{asset('bundles/apexscore/images/arrow_left.png') }}" style="float:left">
				<img src="{{asset('bundles/apexscore/images/arrow_right.png') }}" style="float:right; margin-right: 30px">
			</div>
			
			<div style="width: 100%" style="float:left">
				<span style="float:left; margin: 5px">Aseta tasoituksesi ja valitse tii</span>
				<span style="float: right; margin: 5px">Aloita uusi kierros</span>
			</div>
		</div>	
	<!-- /ko -->	
		
	</div>
</div>
	

<div id="s_page" data-role="page" data-title="Round in progress" data-theme="b">

	<div class="header" data-role="header" data-theme="b" data-position="fixed" data-id="bogi_header">
		<a href="#f_page" data-role="button" data-icon="home" data-iconpos="notext" 		 data-bind="event: { tap: leaveRound }"></a>
		<div class="headerText">Reikä <span data-bind="text: currentHole"></span> - Par <span data-bind="text: currentHolePar"></span>
			<span style="font-size: 75%">/ Hcp  <span data-bind="text: currentHoleHcp" ></span></span>
		</div>

		<a data-bind="event: { tap: showScoreCard }" data-role="button" data-rel="dialog" data-icon="grid" data-iconpos="notext" data-close-btn="none" data-transition="slidedown"></a>
	</div>

	<div id="top" data-role="content" data-theme="b">
		<div id="scoreWrappi" class="ui-grid-b">
			<div id="holeScore" class="ui-block-a">
				<span data-bind="text: holeScoreName, visible: showPoints"></span><br>
				<span data-bind="text: currentHolePoints, visible: showPoints" style="font-size: 75%"></span>
			</div>
	
			<div id="scoreB" class="ui-block-b">
				<div id="score">
					<!-- ko if: currentHoleScore() == 0 -->
						<div id="scoreDisplay">	- </div>
					<!-- /ko -->
						
					<!-- ko if: currentHoleScore() > 0 -->
						<div id="scoreDisplay" data-bind="visible: noScoreEntered() == false, text: currentHoleScore"></div>
					<!-- /ko -->
				</div>
			</div>
	
			<div id="roundScore" class="ui-block-c">
				Tulos: <span data-bind="text: totalScore"></span>
				
				<span style="opacity: 0.7; font-size: 90%">
				<!-- ko if: totalToPar() > 0 -->
					(+<span data-bind="text: totalToPar"></span>)
				<!-- /ko -->
				<!-- ko if: totalToPar() < 0 -->
					(<span data-bind="text: totalToPar"></span>)
				<!-- /ko -->
				
				<!-- ko if: totalToPar() == 0 -->
					(E)
				<!-- /ko -->
				</span>

				<br>
				
				<span style="font-size: 75%"> Pisteet:</span>
				<span data-bind="text: totalPoints" style="font-size: 75%"></span> 
			</div>
		</div>


		<div id="sliderWrappi" class="ui-grid-b">
			<div id="leftFill" class="ui-block-a"></div>
				<div id="sliderW" class="ui-block-b">
					<div id="slideri">
						<input type="range" data-bind="value: sliderVal, slider: sliderVal, event: { change: sliderMove, slidestop: resetSlider }" name="scoreSlider" id="scoreSlider" min="-50" max="50" /> 
					</div>
				</div>
			<div id="rightFill" class="ui-block-c"></div>
		</div>
	</div>

<!-- <div style="color: white; text-shadow: 0 0 0 #000, 0 0 0 #000" data-bind="text: ko.toJSON($data)"></div>    -->

	<div id="bottom" data-bind="event: { swipeleft: nextHole, swiperight: previousHole }">
		<div id="holeData">
			<div id="tmp" class="ui-grid-a" data-role="content" data-theme="c">
				<div class="ui-block-a">
					<span id="course" data-bind="text: courseName"></span><br>
					Reikä <span id="hole" data-bind="text: currentHole"></span><br>
					Par <span id="par" data-bind="text: currentHolePar"></span><br>
					Hcp <span id="hcp" data-bind="text: currentHoleHcp"></span><br>
					<span id="length" data-bind="text: currentHoleLength"></span> metriä<br>
				</div>
				<div class="ui-block-b" style="text-align: right">
					Pelaaja: <span id="player" data-bind="text: playerName" style="font-weight: bold"></span><br>
					Tasoitus: <span id="playerhcp" data-bind="text: round_hcp" style="font-weight: bold"></span><br>
					Pelitasoitus: <span id="playerplayhcp" data-bind="text: playerPlayingHcp" style="font-weight: bold"></span><br>
					Tii: <span id="playerTee" data-bind="text: locale_tee" style="font-weight: bold"></span><br>
					Kierrosaika: <span id="duration" data-bind="text: roundDuration" style="font-weight: bold"></span><br>

<!--						<span data-bind="if: roundEndTime()">End time:
						<span data-bind="text: moment(roundEndTime()).format('HH:mm:ss')" style="font-weight: bold">
						</span>
					</span> -->
				</div>
			</div>
		</div>
	</div>
		
	<div class="footer" data-role="footer" data-theme="a" data-position="fixed" data-id="score_footer">
		<div style="float: left">
			<!-- ko if: currentHole() == 1 -->
			<a href="#s_page" data-role="button" data-icon="arrow-l"  data-bind="event: { tap: previousHole }" data-iconpos="left" ><span class="holenav">Reikä </span><span class="holenav" data-bind="text: holes().length" style="padding-right: 30px"></span> </a>
			<!-- /ko -->
			
			<!-- ko if: currentHole() != 1 -->
			<a href="#s_page" data-role="button" data-icon="arrow-l"  data-bind="event: { tap: previousHole }" data-iconpos="left" data-shadow="false"><span class="holenav">Reikä </span><span class="holenav" data-bind="text: currentHole() - 1" style="padding-right: 30px"></span> </a>
			<!-- /ko -->
		</div>

		<div style="float: right"> 
			<!-- ko if: currentHole() == holes().length -->
			<a href="#s_page" data-role="button" data-icon="arrow-r" data-bind="event: { tap: nextHole }"  data-iconpos="right" style="padding-left: 30px"><span class="holenav">Reikä </span><span class="holenav">1</span>  </a>
			<!-- /ko -->
		
			<!-- ko if: currentHole() != holes().length -->
			<a href="#s_page" data-role="button" data-icon="arrow-r" data-bind="event: { tap: nextHole }"  data-iconpos="right" style="padding-left: 30px"><span class="holenav">Reikä </span><span class="holenav" data-bind="text: currentHole() + 1"></span>  </a>
			<!-- /ko -->
		</div>	
	</div>
</div>	
	
	
<div id="scoreCard" class="scorecard-dialog" data-role="page" data-close-btn="none" data-theme="b">

	<div data-theme="a" data-role="header" id="dialogHeader">
		<span id="scCourse" data-bind="text: courseName"></span>
			-
		<span id="scStartTime" data-bind="text: moment(roundStartTime()).format('LLL')"></span>
	</div>	
	

	<div class="scrollOuter" data-theme="b" style="top: 36px !important">	
	<div class="scrollMiddle" style="top: 0px !important">
	<div class="scrollInner" id="">

	<div data-role="content" id="dialogContent" data-theme="b">
	
		<table class="scoreCardTable">
			<tr>
				<td class="scHeaders">Kenttä</td>
				<td class="scHeaders">Päiväys</td>
				<td class="scHeaders">Pelaaja</td>
				<td class="scHeaders">Tasoitus</td>
			</tr>
			<tr>
				<td class="scCells" data-bind="text: courseName"></td>
				<td class="scCells" data-bind="text: moment(roundStartTime()).format('LL')"></td>
				<td class="scCells" data-bind="text: playerName"></td>
				<td class="scCells" data-bind="text: round_hcp"></td>
			<tr>
		</table> 
	
		<table class="scoreCardTable">
			<tr>
				<td class="scHeaders">Reikä</td>
				<td class="scHeaders">Par</td>
				<td class="scHeaders">HCP</td>
				<td class="scHeaders">Pituus</td>
				<td class="scHeaders">Tulos</td>
				<td class="scHeaders">+/-</td>
				<td class="scHeaders">Pisteet</td>
			</tr>
			<tbody data-bind="foreach: scoreCard">
				<tr>
					<td class="scCells" data-bind="text: hole_number"></td>
					<td class="scCells" data-bind="text: hole_par"></td>
					<td class="scCells" data-bind="text: hole_hcp"></td>
					
					<!-- ko if: $parent.round_tee() == "yellow" -->
						<td class="teeYellow"><span data-bind="text: hole_length"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: $parent.round_tee() == "red" -->
						<td class="teeRed"><span data-bind="text: hole_length"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: $parent.round_tee() == "blue" -->
						<td class="teeBlue"><span data-bind="text: hole_length"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: $parent.round_tee() == "white" -->
						<td class="teeWhite"><span data-bind="text: hole_length"></span> m
						</td>
					<!-- /ko -->
					
				
					<!-- ko if: score() > 0 -->
						<!-- ko if: scoreToPar == -1 -->
						<td class="scBirdie"><span class="circle" data-bind="text: score"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar < -1 -->
						<td class="scEagle"><span class="doublecircle"> <span class=" circle" data-bind="text: score"></span></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == 1 -->
							<td class="scBogey"><span class="rectangle" data-bind="text: score"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar > 1 -->
							<td class="scDouble" data-bind="text: score"></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == 0 -->
							<td class="scScoreCells" data-bind="text: score"></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == 1 -->
							<td class="scBogey">+<span data-bind="text: scoreToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar > 1 -->
							<td class="scDouble">+<span data-bind="text: scoreToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == -1 -->
							<td class="scBirdie"><span data-bind="text: scoreToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar < -1 -->
							<td class="scEagle"><span data-bind="text: scoreToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == 0 -->
							<td class="scScoreCells"><span>E</span></td>
						<!-- /ko -->
					
						<td class="scCells" data-bind="text: points"></td>
				
					<!-- /ko -->
				
					<!-- ko if: score() == 0 && $root.validateRound() === false -->
						<td class="scScoreCells">&nbsp;</td>
						<td class="scCells">&nbsp;</td>
						<td class="scCells">&nbsp;</td>
					<!-- /ko -->
					
					<!-- ko if: score() == 0 && $root.validateRound() === true -->
						<td class="scScoreCells">x</td>
						<td class="scScoreCells">x</td>
						<td class="scScoreCells">0</td>
					<!-- /ko -->
					
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td class="scTotals"></td>
					<td class="scTotals" data-bind="text: coursePar"></td>
					<td class="scTotals"></td>
					
					<!-- ko if: round_tee() == "yellow" -->
						<td class="teeYellow"><span data-bind="text: courseLength" style="font-weight: bold"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: round_tee() == "red" -->
						<td class="teeRed"><span data-bind="text: courseLength" style="font-weight: bold"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: round_tee() == "blue" -->
						<td class="teeBlue"><span data-bind="text: courseLength" style="font-weight: bold"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: round_tee() == "white" -->
						<td class="teeWhite"><span data-bind="text: courseLength" style="font-weight: bold"></span> m
						</td>
					<!-- /ko -->
					
					<!-- ko if: validateRound() === false -->
					
						<!-- ko if: totalToPar() < 0 -->
							<td class="scBirdie"><span data-bind="text: totalScore"></span>
							</td>
						<!-- /ko -->
						<!-- ko if: totalToPar() >= 0 -->	
							<td class="scTotals"><span data-bind="text: totalScore"></span>
							</td>
						<!-- /ko -->				
						
						<!-- ko if: totalToPar() > 0 -->
							<td class="scTotals">+<span data-bind="text: totalToPar"></span>
							</td>
						<!-- /ko -->
						<!-- ko if: totalToPar() < 0 -->
							<td class="scBirdie"><span data-bind="text: totalToPar" ></span>
							</td>
						<!-- /ko -->
						<!-- ko if: totalToPar() == 0 -->
							<td class="scTotals"><span>E</span>
							</td>
						<!-- /ko -->
						
					<!-- /ko -->
					
					<!-- ko if: validateRound() === true -->
					
						<!-- ko if: totalToPar() < 0 -->
							<td class="scBirdie"><span data-bind="text: totalScore"></span></td>
						<!-- /ko -->
						<!-- ko if: totalToPar() >= 0 -->	
							<td class="scTotals"><span data-bind="text: totalScore"></span></td>
						<!-- /ko -->
									
						<!-- ko if: totalToPar() > 0 -->
							<td class="scTotals">+<span data-bind="text: totalToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: totalToPar() < 0 -->
							<td class="scBirdie"><span data-bind="text: totalToPar" ></span></td>
						<!-- /ko -->
						<!-- ko if: totalToPar() == 0 -->
							<td class="scTotals"><span>E</span></td>
						<!-- /ko -->

					<!-- /ko -->
					
					<td class="scTotals" data-bind="text: totalPoints"></td> 
				</tr>
			</tbody>
		</table>
		<table class="scoreCardTable">
			<tbody>
				<tr>
					<td style="float: right; border-top: 0px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; padding: 2px" class="scHeaders">Uusi tasoitus: <span data-bind="text: hcpPreview"></span></td>
				</tr>
			</tbody>
		</table>
	</div>

		<div id="scoreCardButtons">

			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<label for="finish_round" class="scoreCardFinish">Maalissa</label>
					<input type="checkbox" id="finish_round" name="finish_round" data-mini="true" data-inline="true" value="true" data-bind="checked: roundFinished, mobileradio: roundFinished" style="display: none" />
				</fieldset>
			</div>

			<a href="" data-bind="event: { tap: closeScoreCard }" data-rel="back" data-role="button" data-inline="true" data-theme="a" data-icon="delete" data-mini="true" class="scoreCardClose">Sulje</a>
		</div>


	</div>
	</div>
	</div>
</div>


<div id="prefs" data-role="page" data-title="Preferences" data-theme="b">
	<div class="header" data-role="header" data-theme="b" data-position="fixed" data-id="bogi_header">
			<a href="#" data-role="Home" data-bind="event: { tap: saveGolfer }" data-icon="home" data-iconpos="notext"></a>

		<div class="headerText">Asetukset</div>
		
			<a href="#credsPopUp" id="credsBtn" data-rel="popup" data-position-to="#credsBtn" data-role="button" data-transition="flow" data-icon="info" data-theme="b" data-iconpos="notext"></a>
	</div>
	
	<!-- credits -->
		<div data-role="popup" id="credsPopUp" data-over-theme="a" data-theme="c" data-dismissible="true" class="ui-corner-all" data-mini="true">
				<div data-role="header" data-theme="a" class="ui-corner-top" style="text-align: center; padding: 6px">
					<a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-iconpos="notext" data-icon="delete" style="margin-left: 5px; margin-top: 5px"></a>
					<h1>Tietoja</h1>
				</div>
				<div data-role="content" data-mini="true" data-theme="a" class="ui-corner-bottom ui-content">
					<h3 class="ui-title" data-bind="text: bogikorttiVersion"></h3>
	
					<p>Bugiraportit, huomiot virheellisistä kenttätiedoista, valitukset ja muu vihapuhe osoitteeseen <a href="mailto: rami.valta@gmail.com">rami.valta@gmail.com</a> tai kasvotusten kentällä. Saatan kuunnella jos tarjoat oluen.</p>
	
			  
				  <p>Kiitokset: Martti, Ville, Jouni, Antti, Tero, Kari, Jouni, Jaakko ja Janne.</p>
				</div>
			</div>
	<!-- -->
	

	<div id="prefsWrappi">
		<div id="mainPrefs">
			<h5>Tasoitus</h5>
			<div id="prefsPlayerHcp">
				<input id="i" style="display: none"
				data-bind="value: playerExactHcp" data-role="none" />
			</div>
<!--				<div style="color: white; text-shadow: 0 0 0 #000, 0 0 0 #000" data-bind="text: ko.toJSON($data)"></div> -->
			
			<div id="tees">
				<h5>Tii</h5>

				<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
					<input type="radio" name="red" id="tees_red" value="red" data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_red" style="border-top-color: red !important" class="prefsTees">Pun..en</label>

					<input type="radio" name="blue" id="tees_blue" value="blue" data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_blue" style="border-top-color: blue !important" class="prefsTees">Sin..en</label>

					<input type="radio" name="yellow" id="tees_yellow" value="yellow"  data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_yellow" style="border-top-color: yellow !important" class="prefsTees">Kel..en</label>

					<input type="radio" name="white" id="tees_white" value="white" data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_white" style="border-top-color: white !important" class="prefsTees">Val..en</label>
				</fieldset>
			</div>
<!--			
			<div id="gender">
				<label for="gender">
					<h5>Gender</h5>
				</label>
				<select name="gender" id="gender" data-role="slider" data-theme="b" data-track-theme="c" data-bind="jqmOptions: playerGenders, value: playerGender" data-mini="true">
					<option>Male</option>
					<option>Female</option>
				</select> 
			</div>
			
			<span style="font-size: 6px" data-bind="text: playerGender"></span> -->
			
		</div> 
	</div>
</div>


<div id="courseSelect" data-role="page" data-title="New round" data-theme="b">
	<div class="header" data-role="header" data-theme="b" data-position="fixed" data-id="bogi_header">
		<a href="#f_page" data-transition="slidefade" data-direction="reverse"  data-role="button" id="Home" data-icon="home" data-iconpos="notext"></a>
		<div class="headerText">Valitse kenttä...</div>
	</div>
	
	<div class="scrollOuter">
	<div class="scrollMiddle">
	
	<div class="scrollInner" id="courseListWrap">
		
		<ul data-theme="c" data-role="listview" data-filter="true" data-filter-placeholder="Kentän nimi tai lyhenne..." data-filter-theme="c" id="courseList">


			<!-- ko if: recentlyPlayedCourses().length > 0 -->
			
				<li data-role="list-divider" data-theme="d">Viimeisimmät pelatut kentät</il>

				<!-- ko mobileList: recentlyPlayedCourses, foreach: recentlyPlayedCourses -->

				<li>
				<a href="#" data-bind="click: $root.startNewRound.bind($data, id, name), text: name"></a>
				</li>
			
				<!-- /ko -->
			
			<!-- /ko -->
			
			<li data-role="list-divider" data-theme="d">Kaikki kentät</il>
			
			<!-- ko mobileList: courseList, foreach: courseList -->
			
			<li data-bind="attr: { 'data-filtertext': alias +' '+ name}">
				<a href="#" data-bind="click: $root.startNewRound.bind($data, id, name), text: name"></a>
			</li>
			
			<!-- /ko -->
			
		</ul>
	</div>
	</div>
	</div>
</div>		

{% else %}

		<script src="http://code.jquery.com/jquery-2.0.0.js"></script>
	<script src="{{ asset('bundles/apexscore/js/jquery.mobile-1.3.1.min.js') }}"></script>


</head>
<body>

<div data-theme="b" data-role="page" id="login">

  <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
	<script type="text/javascript">
		window.location.href="{{ path('fos_user_security_login') }}";
	</script>
</div>

{% endif %}

</body>
</html>