<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
<!--   	<link rel="stylesheet" href="{{ asset('bundles/apexscore/css/jquery.mobile-1.3.0.min.css') }}" /> -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
  	<link rel="stylesheet" href="{{ asset('bundles/apexscore/css/styles.css') }}" type="text/css" media="screen" rel="stylesheet" />
    <link href="{{ asset('bundles/apexscore/css/mobiscroll-2.4.1.custom.min.css') }}" rel="stylesheet" type="text/css" />

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<!--	<script src="http://code.jquery.com/jquery-1.8.3.js"></script> -->
	<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<!--	<script src="{{ asset('bundles/apexscore/js/jquery.mobile-1.3.0.min.js') }}"></script> -->

	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

<!--    <script src="{{ asset('bundles/apexscore/js/knockout-2.2.1.js') }}"></script> -->
	<script src="http://knockoutjs.com/downloads/knockout-2.2.1.js"></script>
    <script src="{{ asset('bundles/apexscore/js/date.format.js') }}"></script> 
	<script src="{{ asset('bundles/apexscore/js/mobiscroll-2.4.1.custom.min.js') }}"></script> 
	<script src="{{ asset('bundles/apexscore/js/moment.min.js') }}"> </script>

	<script src="{{ path('GlobalJs') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/apexscore/js/app.js') }}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=0.5, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />  

	<script type="text/javascript">
		$.mobile.changePage.defaults.allowSamePageTransition = true;
		$.mobile.loader.prototype.options.theme = "d";
		$.mobile.loader.prototype.options.textVisible = true;
	</script>

	<script type="text/javascript">
		moment.lang('en', {
			longDateFormat : {
				LT: "HH:mm",
				L: "DD/MM/YYYY",
				l: "D/M/YYYY",
				LL: "MMMM Do YYYY",
				ll: "MMM D YYYY",
				LLL: "MMMM Do YYYY LT",
				lll: "MMM D YYYY LT",
				LLLL: "dddd, MMMM Do YYYY LT",
				llll: "ddd, MMM D YYYY LT"
			}
		});
	</script>
</head>

<body>

<div id="f_page" data-role="page" data-title="Bogikortti v0.1 - Bugikortti">
	<div id="header" data-role="header" data-theme="b" data-position="fixed" data-id="bogi_header">
		<a href="#" id="txt-only" data-role="button" data-icon="gear" data-iconpos="notext" data-bind="event: { tap: loadPrefs }"></a>
		<div id="headerText">Bogikortti - <span data-bind="text: playerName"></span></div>
		<a href="#" data-bind="event: { tap: loadCourseSelect }"  data-role="button" data-icon="plus" id="newRoundButton" data-iconpos="notext"></a>
	</div>
	

	<div id="f_roundList">
	
	<!-- ko if: firstRun() == "working" -->
		<div data-theme="c" data-role="content">
			Loading rounds...
		</div>
	<!-- /ko -->		
	
	<!-- ko if: firstRun() == false -->
		<div>	
			<ul id="roundList" data-role="listview" data-theme="c" data-split-icon="delete" data-split-theme="c" data-bind="mobileList: roundList, foreach: roundList" style="-webkit-transform: translate3d(0,0,0)"> 
				<li>
					<a data-bind="click: $root.loadRound.bind($data, id, start_time.date)">
					<span data-bind="text: course_name"></span>
					<span style="font-size: 66%">
						<span data-bind="text: start_time.date" style="visibility: hidden"></span>   
						<div style="color: #999">
							<span data-bind="text: moment(start_time.date).calendar()">						</span> - Score:
							<span data-bind="text: score"></span> / <span data-bind="text: par"> 
						</div>
					</span>
					<span>
						<a data-theme="d" data-bind="event: { tap: $root.deleteRoundDialog.bind($data, id, start_time.date) }" data-icon="minus" id="roundMenu"></a>
					</span>
				</li>
			</ul>
			
	
			
		</div>
	<!-- /ko -->
	
			<div data-role="popup" id="delPopUp" data-over-theme="a" data-theme="c" data-dismissable="false" style="max-width: 250px; font-size: 75%" class="ui-corner-all" data-mini="true">
				<div data-role="header" data-theme="a" class="ui-corner-top" style="text-align: center; padding: 6px">
					<span style="font-size: 1.5em; font-weight: bold">Remove round?</span>
				</div>
				<div data-role="content" data-mini="true" data-theme="d" class="ui-corner-bottom ui-content">
				  <h5 class="ui-title">Remove this round?</h5>
				  <p>Round will be permanently deleted.</p>
					<a data-bind="event: { tap: cancelRoundDelete }" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-mini="true">Cancel</a>
					<a href="" data-bind="event: { tap: deleteRound }" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b" data-mini="true">Remove Round</a>
				</div>
			</div>
	
	

	
	<!-- ko if: firstRun() == true -->
		<div data-theme="b" data-role="content">
			<div style="width: 100%; margin-left: 10px; float:left">
				<img src="{{asset('bundles/apexscore/images/arrow_left.png') }}" style="float:left">
				<img src="{{asset('bundles/apexscore/images/arrow_right.png') }}" style="float:right; margin-right: 30px">
			</div>
			
			<div style="width: 100%" style="float:left">
				<span style="float:left; margin: 5px">Set your handicap and tee</span>
				<span style="float: right; margin: 5px">Start new round</span>
			</div>
		</div>	
	<!-- /ko -->	
		
		
		
	</div>
</div>
	

<div id="s_page" data-role="page" data-title="Round in progress" data-theme="b">

	<div id="header" data-role="header" data-theme="b" data-position="fixed" data-id="bogi_header">
		<a href="#f_page" data-role="button" data-icon="home" data-iconpos="notext" 		 data-bind="event: { tap: leaveRound }"></a>
		<div id="headerText">Hole <span data-bind="text: currentHole"></span> - Par <span data-bind="text: currentHolePar"></span>
			<span style="font-size: 75%">/ Hcp  <span data-bind="text: currentHoleHcp" ></span></span>
		</div>

		<a data-bind="event: { tap: showScoreCard }" data-role="button" data-rel="dialog" data-icon="grid" data-iconpos="notext" data-close-btn="none" data-transition="slidedown"></a>
	</div>

	<div id="top" data-role="content" data-theme="b">
		<div id="scoreWrappi" class="ui-grid-b">
			<div id="holeScore" class="ui-block-a">
				<span data-bind="text: holeScoreName, visible: showPoints"></span><br>
				<span data-bind="text: currentHolePoints, visible: showPoints" style="font-size: 75%"></span>
			</div>
	
			<div id="scoreB" class="ui-block-b">
				<div id="score">
					<!-- ko if: currentHoleScore() == 0 -->
						<div id="scoreDisplay">	- </div>
					<!-- /ko -->
						
					<!-- ko if: currentHoleScore() > 0 -->
						<div id="scoreDisplay" data-bind="visible: noScoreEntered() == false, text: currentHoleScore" style="-webkit-transform: translate3d(0,0,0)"></div>
					<!-- /ko -->
				</div>
			</div>
	
			<div id="roundScore" class="ui-block-c">
				Score: <span data-bind="text: totalScore"></span><br>
				<span style="font-size: 75%"> Points:</span>
				<span data-bind="text: totalPoints" style="font-size: 75%"> 
				</span>
			</div>
		</div>


		<div id="sliderWrappi" class="ui-grid-b">
			<div id="leftFill" class="ui-block-a"></div>
				<div id="sliderW" class="ui-block-b">
					<div id="slideri">
						<input type="range" data-bind="value: sliderVal, slider: sliderVal,  event: { change: sliderMove, slidestop: resetSlider }" name="scoreSlider" id="scoreSlider" min="-50" max="50" /> 
					</div>
				</div>
			<div id="rightFill" class="ui-block-c"></div>
		</div>
	</div>

<!-- <div style="color: white; text-shadow: 0 0 0 #000, 0 0 0 #000" data-bind="text: ko.toJSON($data)"></div>    -->

	<div id="bottom">
		<div id="holeData" >
			<div  class="ui-grid-a" data-role="content" data-theme="c">
				<div class="ui-block-a">
					<span id="course" data-bind="text: courseName"></span><br>
					Hole <span id="hole" data-bind="text: currentHole"></span><br>
					Par <span id="par" data-bind="text: currentHolePar"></span><br>
					Hcp <span id="hcp" data-bind="text: currentHoleHcp"></span><br>
					<span id="length" data-bind="text: currentHoleLength"></span> meters<br>
				</div>
				<div class="ui-block-b" style="text-align: right">
					Player: <span id="player" data-bind="text: playerName" style="font-weight: bold"></span><br>
					Handicap: <span id="playerhcp" data-bind="text: round_hcp" style="font-weight: bold"></span><br>
					Course handicap: <span id="playerplayhcp" data-bind="text: playerPlayingHcp" style="font-weight: bold"></span><br>
					Tee: <span id="playerTee" data-bind="text: round_tee" style="font-weight: bold"></span><br>
					Duration: <span id="duration" data-bind="text: roundDuration" style="font-weight: bold"></span><br>

						<span data-bind="if: roundEndTime()">End time:
						<span data-bind="text: moment(roundEndTime()).format('HH:mm:ss')" style="font-weight: bold">
						</span>
					</span> 
				</div>
			</div>
		</div>
	</div>

	<div id="footer" data-role="footer" data-theme="a" data-position="fixed" data-id="score_footer">
		<div style="float: left">
			<!-- ko if: currentHole() == 1 -->
			<a href="#s_page" data-role="button" data-icon="arrow-l"  data-bind="event: { tap: previousHole }" data-iconpos="left" ><span id="holenav">Hole </span><span id="holenav" data-bind="text: holes().length" style="padding-right: 30px"></span> </a>
			<!-- /ko -->
			
			<!-- ko if: currentHole() != 1 -->
			<a href="#s_page" data-role="button" data-icon="arrow-l"  data-bind="event: { tap: previousHole }" data-iconpos="left" data-shadow="false"><span id="holenav">Hole </span><span id="holenav" data-bind="text: currentHole() - 1" style="padding-right: 30px"></span> </a>
			<!-- /ko -->
		</div>

		<div style="float: right"> 
			<!-- ko if: currentHole() == holes().length -->
			<a href="#s_page" data-role="button" data-icon="arrow-r" data-bind="event: { tap: nextHole }"  data-iconpos="right" style="padding-left: 30px"><span id="holenav">Hole </span><span id="holenav">1</span>  </a>
			<!-- /ko -->
		
			<!-- ko if: currentHole() != holes().length -->
			<a href="#s_page" data-role="button" data-icon="arrow-r" data-bind="event: { tap: nextHole }"  data-iconpos="right" style="padding-left: 30px"><span id="holenav">Hole </span><span id="holenav" data-bind="text: currentHole() + 1"></span>  </a>
			<!-- /ko -->
		</div>	
	</div>
</div>	
	
	
<div id="scoreCard" data-role="page" data-close-btn="none" data-theme="b">

	<div data-theme="c" data-role="header" id="dialogHeader">
			<span id="scCourse" data-bind="text: courseName"></span>
			-
			<span id="scStartTime" data-bind="text: moment(roundStartTime()).format('LLL')"></span>
	</div>

	<div data-role="content" id="dialogContent" data-theme="b">
	
		<table id="scoreCardTable">
			<tr>
				<td id="scHeaders">Course</td>
				<td id="scHeaders">Date</td>
				<td id="scHeaders">Player</td>
				<td id="scHeaders">Hcp</td>
			</tr>
			<tr>
				<td id="scCells" data-bind="text: courseName"></td>
				<td id="scCells" data-bind="text: moment(roundStartTime()).format('LL')"></td>
				<td id="scCells" data-bind="text: playerName"></td>
				<td id="scCells" data-bind="text: round_hcp"></td>
			<tr>
		</table> 
	
		<table id="scoreCardTable">
			<tr>
				<td id="scHeaders">Hole</td>
				<td id="scHeaders">Par</td>
				<td id="scHeaders">HCP</td>
				<td id="scHeaders">Length</td>
				<td id="scHeaders">Score</td>
				<td id="scHeaders">To Par</td>
				<td id="scHeaders">Points</td>
			</tr>
			<tbody data-bind="foreach: scoreCard">
				<tr>
					<td id="scCells" data-bind="text: hole_number"></td>
					<td id="scCells" data-bind="text: hole_par"></td>
					<td id="scCells" data-bind="text: hole_hcp"></td>
					
					<!-- ko if: $parent.round_tee() == "yellow" -->
						<td id="teeYellow"><span data-bind="text: hole_length"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: $parent.round_tee() == "red" -->
						<td id="teeRed"><span data-bind="text: hole_length"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: $parent.round_tee() == "blue" -->
						<td id="teeBlue"><span data-bind="text: hole_length"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: $parent.round_tee() == "white" -->
						<td id="teeWhite"><span data-bind="text: hole_length"></span> m
						</td>
					<!-- /ko -->
					
				
					<!-- ko if: score() > 0 -->
						<!-- ko if: scoreToPar == -1 -->
						<td id="scBirdie"><span id="circle" data-bind="text: score"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar < -1 -->
						<td id="scEagle"><span id="doublecircle"><span id="circle" data-bind="text: score"></span></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == 1 -->
							<td id="scBogey"><span id="rectangle" data-bind="text: score"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar > 1 -->
							<td id="scDouble" data-bind="text: score"></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == 0 -->
							<td id="scScoreCells" data-bind="text: score"></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == 1 -->
							<td id="scBogey">+<span data-bind="text: scoreToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar > 1 -->
							<td id="scDouble">+<span data-bind="text: scoreToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == -1 -->
							<td id="scBirdie"><span data-bind="text: scoreToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar < -1 -->
							<td id="scEagle"><span data-bind="text: scoreToPar"></span></td>
						<!-- /ko -->
						<!-- ko if: scoreToPar == 0 -->
							<td id="scScoreCells"><span>E</span></td>
						<!-- /ko -->
					
						<td id="scCells" data-bind="text: points"></td>
				
					<!-- /ko -->
				
					<!-- ko if: score() == 0 -->
						<td id="scScoreCells">&nbsp;</td>
						<td id="scCells">&nbsp;</td>
						<td id="scCells">&nbsp;</td>
					<!-- /ko -->
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td id="scTotals"></td>
					<td id="scTotals" data-bind="text: coursePar"></td>
					<td id="scTotals"></td>
					
					<!-- ko if: round_tee() == "yellow" -->
						<td id="teeYellow"><span data-bind="text: courseLength" style="font-weight: bold"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: round_tee() == "red" -->
						<td id="teeRed"><span data-bind="text: courseLength" style="font-weight: bold"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: round_tee() == "blue" -->
						<td id="teeBlue"><span data-bind="text: courseLength" style="font-weight: bold"></span> m
						</td>
					<!-- /ko -->
					<!-- ko if: round_tee() == "white" -->
						<td id="teeWhite"><span data-bind="text: courseLength" style="font-weight: bold"></span> m
						</td>
					<!-- /ko -->
					
					<!-- ko if: totalToPar() < 0 -->
						<td id="scBirdie" data-bind="text: totalScore"></td>
					<!-- /ko -->
					<!-- ko if: totalToPar() >= 0 -->	
						<td id="scTotals" data-bind="text: totalScore"></td>
					<!-- /ko -->				
					<!-- ko if: totalToPar() > 0 -->
						<td id="scTotals">+<span data-bind="text: totalToPar"></span></td>
					<!-- /ko -->
					<!-- ko if: totalToPar() < 0 -->
						<td id="scBirdie"><span data-bind="text: totalToPar" ></span></td>
					<!-- /ko -->
					<!-- ko if: totalToPar() == 0 -->
						<td id="scTotals"><span>E</span></td>
					<!-- /ko -->
				
					<td id="scTotals" data-bind="text: totalPoints"></td> 
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="scoreCardButtons">
		<a href="#" data-role="button" id="scoreCardShare" data-mini="true" >Share</a>
		<a href="#s_page" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-mini="true" id="scoreCardClose">Close</a>
	</div>
</div>


<div id="prefs" data-role="page" data-title="Preferences" data-theme="b">
	<div id="header" data-role="header" data-theme="b" data-position="fixed" data-id="bogi_header">
			<a href="#" data-role="Home" data-bind="event: { tap: saveGolfer }" data-icon="home" data-iconpos="notext"></a>

		<div id="headerText">Preferences</div>
		
			<a href="#credsPopUp" id="credsBtn" data-rel="popup" data-position-to="#credsBtn" data-role="button" data-transition="flow" data-icon="info" data-theme="b" data-iconpos="notext"></a>
	</div>
	
	<!-- credits -->
		<div data-role="popup" id="credsPopUp" data-over-theme="a" data-theme="c" data-dismissable="true" style="max-width: 250px" class="ui-corner-all" data-mini="true">
				<div data-role="header" data-theme="a" class="ui-corner-top" style="text-align: center; padding: 6px">
					<a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-iconpos="notext" data-icon="delete" style="margin-left: 5px; margin-top: 5px"></a>
					<h1>Credits</h1>
				</div>
				<div data-role="content" data-mini="true" data-theme="a" class="ui-corner-bottom ui-content">
				  <h3 class="ui-title">Bogikortti v 0.1 - Bugikortti © Rami Valta 2013 </h3>
				  <p>Thanks to: Martti, Ville, Jouni, Antti, Tero, Kari, Jouni, Jaakko and Janne.</p>
					<p><a href="mailto: rami.valta@gmail.com">rami.valta@gmail.com</a></p>
				</div>
			</div>
	<!-- -->
	

	<div id="prefsWrappi">
		<div id="mainPrefs">
			<h5>Handicap</h5>
			<div id="prefsPlayerHcp">
				<input id="i" style="display: none"
				data-bind="value: playerExactHcp" data-role="none" />
			</div>
<!--				<div style="color: white; text-shadow: 0 0 0 #000, 0 0 0 #000" data-bind="text: ko.toJSON($data)"></div> -->
			
			<div id="tees">
				<h5>Tee</h5>

				<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal" data-theme="e">
					<input type="radio" name="red" id="tees_red" value="red" data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_red" style="border-top-color: red" id="prefsTees">Red</label>

					<input type="radio" name="blue" id="tees_blue" value="blue" data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_blue" style="border-top-color: blue" id="prefsTees">Blue</label>

					<input type="radio" name="yellow" id="tees_yellow" value="yellow"  data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_yellow" style="border-top-color: yellow" id="prefsTees">Yellow</label>

					<input type="radio" name="white" id="tees_white" value="white" data-bind="checked: playerDefaultTee, mobileradio: playerDefaultTee" />
					<label for="tees_white" style="border-top-color: white" id="prefsTees">White</label>
				</fieldset>
			</div>
<!--			
			<div id="gender">
				<label for="gender">
					<h5>Gender</h5>
				</label>
				<select name="gender" id="gender" data-role="slider" data-theme="b" data-track-theme="c" data-bind="jqmOptions: playerGenders, value: playerGender" data-mini="true">
					<option>Male</option>
					<option>Female</option>
				</select> 
			</div>
			
			<span style="font-size: 6px" data-bind="text: playerGender"></span> -->
			
		</div> 
	</div>
</div>


<div id="courseSelect" data-role="page" data-title="New round" data-theme="b">
	<div id="header" data-role="header" data-theme="b" data-position="fixed" data-id="bogi_header">
		<a href="#f_page" data-transition="slidefade" data-direction="reverse"  data-role="button" id="Home" data-icon="home" data-iconpos="notext"></a>
		<div id="headerText">Choose course</div>
	</div>
	<div id="courseListWrap">
		<ul data-theme="c" data-role="listview" data-filter="true" data-filter-placeholder="Course name or abbreviation..." data-filter-theme="a" id="courseList" data-bind="mobileList: courseList, foreach: courseList">
			<li data-bind="attr: { 'data-filtertext': alias +' '+ name}">
				<a href="#" data-bind="click: $root.startNewRound.bind($data, id, name), text: name"></a>
			</li>
		</ul>
	</div>
</div>		

{% else %}

		<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="{{ asset('bundles/apexscore/js/jquery.mobile-1.3.0.min.js') }}"></script>


</head>
<body>

<div data-theme="b" data-role="page" id="login">

  <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
	<script type="text/javascript">
		window.location.href="{{ path('fos_user_security_login') }}";
	</script>
</div>

{% endif %}

</body>
</html>