{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Round creation</h1>

	{% for courses in course %}
		<span>{{ courses.id }} {{ courses.courseName }}</span>
	{% endfor %}
	

    <form action="{{ path('round_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('round') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
