<html>
<head>
   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
<!--	<script src="http://code.jquery.com/mobile/1.3.0-beta.1/jquery.mobile-1.3.0-beta.1.min.js"></script> -->
	<script src="{{ path('GlobalJs') }}" type="text/javascript"></script>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0-beta.1/jquery.mobile-1.3.0-beta.1.min.css" />
	<link rel="stylesheet" href="{{ asset('bundles/apexscore/css/styles.css') }}" type="text/css" media="screen" rel="stylesheet" />

		


</head>
	
<body data-role="page" data-title="login">





	<div>
		<div class="centered" id="login">
			<div class="title">
					<span class="ui-dialog-title">Kirjautuminen</span>
			</div>
			<div id="form">
				<form action="{{ path('login_check') }}" method="post" id="login-form">
					<label for="username">Käyttäjätunnus:</label>
					<input type="text" id="username" name="_username" value="{{ last_username }}" />
					<label for="password">Salasana:</label></div>
					<input type="password" id="password" name="_password" />
					<input type="submit" value="Kirjaudu" class="button"/>
				</form>
			</div>
		</div>
		
		{% if error %}
 		   <div>{{ error.message }}
 		   {{  last_username }}
		   </div>
 		   
		{% endif %}
		
		
	</div>

</body>